
    $basic-text-color: #212121;
    $basic-font-family: Roboto;
    $add-font-family: Raleway;
    $basic-bcg-color: #fff;
    $add-text-color: #757575;
    $accent: #2196f3;
    $additional-bcg-color: #f5f4fA;
    $basic-logo-color: #000;
    $hero-bcg-color: #2f303a;
    $white-color: #fff;
    $address-bcg-color: #2f303a;
    $footer-contact-color: rgba(255, 255, 255, 0.6);
    $filter-border-color: transparent;    
    $header-border-color: #ececec;
    $photo-shadow-color:   0px 1px 3px rgba(0, 0, 0, 0.12), 
                            0px 1px 1px rgba(0, 0, 0, 0.14),
                            0px 2px 1px rgba(0, 0, 0, 0.2);
    $filter-shadow-color:  0px 3px 1px rgba(0, 0, 0, 0.1),
                            0px 1px 2px rgba(0, 0, 0, 0.08),
                            0px 2px 2px rgba(0, 0, 0, 0.12);
    $clients-border-color: #afb1b8;
    $background-footer-link: rgba(255, 255, 255, 0.1);
    $project-shadow-color: 0px 1px 1px rgba(0, 0, 0, 0.12),
                            0px 4px 4px rgba(0, 0, 0, 0.06),
                            1px 4px 6px rgba(0, 0, 0, 0.16);
    $project-border-color: #eeeeee;
    $transition-time: 250ms;
    $transition-cubic: cubic-bezier(0.4, 0, 0.2, 1);
    $accent-background: rgba(33, 150, 243, 0.9);
    $work-text-background: rgba(47, 48, 58, 0.8);
    $hero-gradient: rgba(47, 48, 58, 0.4);
    $backdrop-color: rgba(0, 0, 0, 0.2);
    $transparent-background: transparent;
    $btn-close-border: rgba(0, 0, 0, 0.1);
    $hero-sahdow-btn: 0px 4px 4px rgba(0, 0, 0, 0.15);
    $check-box-color: rgba(33, 33, 33, 1);
    $placeholder-color: rgba(117, 117, 117, 0.5);
    $subscribe-border-color: rgba(255, 255, 255, 0.3);