.hero {
    padding: 118px, 60px;

    text-align: center;
    background-image: linear-gradient(to right, $hero-gradient, $hero-gradient), url(../../images/header-mob-1x.jpg);
    @include retina {
            background-image: linear-gradient(to right, $hero-gradient, $hero-gradient), url(../../images/header-mob-2x.jpg);
            background-size: cover;
  }
    background-color: $hero-bcg-color;
    background-repeat: no-repeat;
    background-position: center;  
    @include tablet {
        height: 459px;
        background-image: linear-gradient(to right, $hero-gradient, $hero-gradient), url(../../images/header-tablet-1x.jpg);
        @include retina {
            background-image: linear-gradient(to right, $hero-gradient, $hero-gradient), url(../../images/header-tablet-2x.jpg);
            background-size: cover;
        }
    }
    @include desktop {
        height: 600px;
        padding: 200px 0;
        background-image: linear-gradient(to right, $hero-gradient, $hero-gradient), url(../../images/header-desktop-1x.jpg);
        @include retina {
            background-image: linear-gradient(to right, $hero-gradient, $hero-gradient), url(../../images/header-desktop-2x.jpg);
            background-size: cover;
        }
    }
}

.hero__title {
    width: 100%;
    margin: 0 auto 30px;

    font-weight: 900;
    font-size: 21px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: $white-color;

    @include tablet {
        font-weight: 900;
        font-size: 26px;
        line-height: 1.62;
        text-align: center;
    }
    @include desktop {
        width: 600px;
        height: 120px;
        

        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;

        
        letter-spacing: 0.06em;
        text-transform: uppercase;
    }
}

